<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DevFeed{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include('app/layout/notifications.html.twig') %}
        {% include('app/layout/navigation.html.twig') %}
        <div class="main-content">
            {% block body %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('js/notification') }}
            {% block javascripts %}
            {% endblock %}
        </div>
    </body>
</html>
