<div class="modal fade" id="sidebarModalActivity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Notifications
                </h4>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="modalActivityUser">
                        <!-- List group -->
                        <div class="list-group list-group-flush list-group-activity my-n3" id="js-notification-list">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>