{% extends 'app/post/layout/layout.html.twig' %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% include 'app/post/includes/form.html.twig' %}
    {% endif %}

    {% if usersToFollow|length > 0 %}
        <h1>
            Suggested users for you to follow...
        </h1>
        <div class="row">
            {% for user in usersToFollow %}
                {% include 'app/profile/includes/user.html.twig' with { 'user': user } %}
            {% endfor %}
        </div>
    {% else %}
        {% for post in posts %}
            {% set isLiked = post.getLikedBy.contains(app.user) %}
            {% include 'app/post/includes/post.html.twig' with { 'post': post, 'isLiked': isLiked } %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/post') }}
{% endblock %}