{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-4 mt-md-5">
            <div class="col-12 col-xl-8">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% include('app/post/includes/form.html.twig') %}
                {% endif %}

                {% for post in posts %}
                    {% include 'app/post/includes/post.html.twig' with { 'post': post } %}
                {% endfor %}

            </div>
            {% include('app/post/layout/sidebar.html.twig') %}
        </div>
    </div>
{% endblock %}